#corpus {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #a3a3a3;
  /* background-image:url("../corpus_bg.jpg"); */
  /* transition: all 0.5s ease; */
}

#corpus .box-card {
  position: relative;
  width: 1150px;
  margin: 130px auto 300px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.65);
  border: 4px solid;
  border-radius: 15px;
  font-family: 'Arial', 'Microsoft YaHei';
  box-shadow: 0px 0px 10px 15px #666;
  /* transform: translate(0 60px); */
}

#corpus .el-switch {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

#corpus #divider {
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
}

#corpus #help {
  font-size: 52px;
  font-family: 'Microsoft Yahei';
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#corpus #help:hover {
  transform: scale(1.2);
}

#corpus .dividerline {
  display: inline-block;
  margin: 19px 15px 15px;
  width: 375px;
  height: 2px;
  background-color: #000000;
}

#corpus #search {
  opacity: 0.7;
  /* border-radius: 10px;  */
}

#corpus .el-pagination {
  opacity: 0.7;
}

#loading {
  height: 90px;
  margin-bottom: 45px;
  /* z-index: 10; */
}

.matched {
  color: #42b983;
  font-weight: 600 !important;
}

#corpus .box-card::after {
  content: '© 2021 by CMNX';
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  /* font-weight: 600; */
  font-family: 'Microsoft YaHei';
}

#corpus .arrow {
  position: fixed;
  bottom: 50%;
  right: 30px;
  animation-name: arrow-twinkling-right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes arrow-twinkling-right {
  0% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0.3;
    transform: translate(-10px, 0);
  }
  100% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
}

#corpus .arrow img {
  transform: rotate(-90deg);
}

.mask {
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  pointer-events: none;
}

#corpus .stylus {
  text-align: center;
}
