 #corpus {
    position: relative;
    width: 100%;
    height: auto;
    background-color:  #A3A3A3;  
    /* background-image:url("../corpus_bg.jpg"); */
    /* transition: all 0.5s ease; */
  }


  #corpus .box-card {
    position: relative;
    width: 90%;
    margin:  90px auto 60px auto;
    text-align: center;
    background-color: rgba(255, 255, 255,0.65);
    border:4px solid;
    border-radius: 15px;
    font-family: "Microsoft YaHei";
    box-shadow: 0px 0px 10px 15px #666;
    /* transform: translate(0 60px); */
  }

  #corpus .el-switch{
    position: absolute;
    right:20px;
    top:20px;
    z-index: 999;
}

  #corpus #divider{
      display: flex;
      justify-content: center;
      margin: 0 0 15px 0;
  }

  #corpus #help{
      font-size: 52px;
      font-family: "Microsoft Yahei";
      margin-bottom: 30px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
  }

  #corpus #help:hover{
   transform: scale(1.2);
}


 #corpus .dividerline {
    display: inline-block;
    margin: 10px 15px;
    width: 370px;
    height: 2px;
    background-color: #000000;
  }

   #corpus #search{
    opacity: 0.7;
    /* border-radius: 10px;  */
}

html /deep/ #corpus #search .el-input{
    font-size: 18px;
    border-radius: 5px;
}

#corpus  .el-pagination{
    opacity: 0.7;
   
}


html /deep/  #corpus .el-table{
    border-radius: 10px;
    border:1px solid rgb(146, 144, 144);
    font-weight: 700;
    font-size: 16px;
    -webkit-user-select: text;
}


.matched{
  color: #42b983;
}



#corpus .el-input,.el-pagination,.el-table{
  margin-bottom: 30px;
}

html /deep/ .el-select-dropdown__item.selected{
  color:#42b983 ;
}
  
html /deep/ .el-pagination__sizes .el-input .el-input__inner:hover{
  border-color:#42b983 ;
}

html /deep/ .el-select .el-input.is-focus .el-input__inner{
  border-color:#42b983 ;
}

html /deep/ .el-select .el-input__inner:focus{
  border-color:#42b983 ;
}

html /deep/ .el-pager li.active{
  color:#42b983 ;
}

html /deep/ .el-pager li:hover{
  color:#42b983 ;
}

html /deep/ .el-select-dropdown__item.selected{
  color:#42b983
}

html /deep/ .el-input.is-active .el-input__inner,html /deep/ .el-input__inner:focus{
  border-color: #42b983 ;
}

html /deep/ .el-pagination span:not([class*=suffix]) {
  font-size:16px
}

html /deep/ .el-pager li,html /deep/ .el-pagination__sizes .el-input .el-input__inner{
  font-size:15px

}

  #corpus .box-card::after {
    content: "© 2021 by CMNX";
    display: block;
    width: 100%;
    height: 60px;
    font-family: "Microsoft YaHei";
}


#corpus .arrow{
  position: absolute;
  bottom: 50%;
  right: 10px;
  animation-name:arrow-twinkling-right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
 
}

@keyframes arrow-twinkling-right {
  0% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0.3;
    transform: translate(-10px,0);
  }
  100% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
}

#corpus .arrow img{
    transform: rotate(-90deg);
}
