 #corpus {
    position: relative;
    width: 100%;
    height: auto;
    background-color:  #A3A3A3; 
    /* background-image:url("../corpus_bg.jpg"); */
    /* transition: all 0.5s ease; */
  }


   #corpus .box-card {
    position: relative;
    width: 1150px;
    margin:  90px auto 60px auto;
    text-align: center;
    background-color: rgba(255, 255, 255,0.65);
    border:4px solid;
    border-radius: 15px;
    font-family: "Microsoft YaHei";
    box-shadow: 0px 0px 10px 15px #666;
    /* transform: translate(0 60px); */
  }


  #corpus .el-switch{
    position: absolute;
    right:20px;
    top:20px;
    z-index: 10;
}

  #corpus #divider{
      display: flex;
      justify-content: center;
      margin: 0 0 15px 0;
  }

  #corpus #help{
      font-size: 52px;
      font-family: "Microsoft Yahei";
      margin-bottom: 30px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
  }

  #corpus #help:hover{
   transform: scale(1.2);
}


 #corpus .dividerline {
    display: inline-block;
    margin: 10px 15px;
    width: 500px;
    height: 2px;
    background-color: #000000;
  }

   #corpus #search{
    opacity: 0.7;
    /* border-radius: 10px;  */
}


#corpus /deep/  .el-input-group__prepend{
    cursor: pointer !important;
}

#corpus /deep/  .el-dropdown-link{
  font-size: 18px;
}

#corpus /deep/ .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
  background-color:rgba(206, 250, 202,0.5) !important;
  color:green !important;
}

html /deep/ #corpus #search .el-input{
    font-size: 18px;
}


#corpus  .el-pagination{
    opacity: 0.7;
}


html /deep/  #corpus .el-table{
    opacity: 0.8;
    border-radius: 10px;
    border:1px solid rgb(146, 144, 144);
    font-weight: 700;
    font-size: 16px;
    -webkit-user-select: text;
}

#loading {
  height:90px;
  margin-bottom:45px;
  /* z-index: 10; */
}

#corpus /deep/ .el-icon-loading{
   font-size: 36px;
   color:#42b983;
   
}

#corpus /deep/ .el-loading-text{
  font-size: 18px;
  color:#42b983;
}

#corpus /deep/ .el-loading-mask{
  background-color:  rgba(255, 255, 255,0.65);
}

.matched{
  color: #42b983;
  font-weight: 800 !important;
  font-size: 20px;
}



#corpus /deep/ .el-input,.el-pagination,.el-table{
  margin-bottom: 30px;
}

html /deep/ #corpus .el-select-dropdown__item.selected{
  color:#42b983 ;
}
  
html /deep/ #corpus .el-pagination__sizes .el-input .el-input__inner:hover{
  border-color:#42b983 ;
}

html /deep/ .el-select .el-input.is-focus .el-input__inner{
  border-color:#42b983 ;
}

html /deep/ .el-select .el-input__inner:focus{
  border-color:#42b983 ;
}

html /deep/ .el-pager li.active{
  color:#42b983 ;
}

html /deep/ .el-pager li:hover{
  color:#42b983 ;
}

html /deep/ .el-select-dropdown__item.selected{
  color:#42b983
}

html /deep/ .el-input.is-active .el-input__inner,html /deep/ .el-input__inner:focus{
  border-color: #42b983 ;
}

html /deep/ .el-pagination span:not([class*=suffix]) {
  font-size:16px
}

html /deep/ .el-pager li,html /deep/ .el-pagination__sizes .el-input .el-input__inner{
  font-size:15px

}

  #corpus .box-card::after {
    content: "© 2021 by CMNX";
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    /* font-weight: 600; */
    font-family: "Microsoft YaHei";
}


#corpus .arrow{
  position: fixed;
  bottom: 50%;
  right: 30px;
  animation-name:arrow-twinkling-right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer; 
}

@keyframes arrow-twinkling-right {
  0% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0.3;
    transform: translate(-10px,0);
  }
  100% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
}

#corpus .arrow img{
    transform: rotate(-90deg);
}

.mask {
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  pointer-events: none;
 }