.nav { 
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  line-height: 60px;
  z-index: 999 ;
  transition: all 0.6s ease;
  background-color: rgba(255, 255, 255, 0.1);
  user-select:none;
  min-width: 990px;
  font-family: '宋体';
}

.nav a{
  transition: all 0.3s linear;
  
}

.nav a:hover {
  color: #42b983;
  
}

.nav a:nth-child(n+2):hover .icon {
  animation-name: shaking;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count:1;
}

.nav .left {
  color: #464646;
  float: left;
  font-size: 24px;
  font-weight: 1000;
  margin-left: 30px;
  cursor: pointer;
  font-family: "Microsoft YaHei";
}


.nav .middle {
  color: #464646;
  float: right;
  font-size: 20px;
  font-weight: 800;
  margin:0 20px;
  cursor: pointer;
  /* display: inline-block; */
}

.nav .right {
  color: #464646;
  float: right;
  font-size: 20px;
  font-weight: 800;
  margin-right: 0px;
  margin-left: 60px;
  cursor: pointer;
}

 .nav:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.navShow{
  background-color: rgba(255, 255, 255, 0.65)
}

.el-drawer{
  overflow: auto;
  height: 500px;
  min-width: 340px;
  line-height: 80px;
}



#home1 {
    background: url("../steins0.jpg");
    background-size: 100% 100vh;
    background-color: #000;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
    user-select: none;
  }
  
  #home1 .center_info {
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
  }
  
  #home1 .center_info h1 {
    font-family: Garamond,arial,helvetica,sans-serif;
    position: relative;
    color: #fff;
    mix-blend-mode: lighten;
    margin: auto;
    font-size: 90px;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    cursor: pointer;
  }

  
  #home1 .center_info .neon {
    animation-name: neon-twinkling;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
      0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  }
  
  @keyframes neon-twinkling {
    50% {
      opacity: 0.4;
    }
  }

  #home1 .center_info .el-icon-search:hover{
    animation-name: shaking;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    cursor: pointer;

  }

  @keyframes shaking{
    0%{
        transform: rotate(0);
    }
    25%{
      transform: rotate(-40deg);
    }
    50%{
    transform: rotate(0);
    }
    75%{
    transform: rotate(40deg);
    }
    100%{
      transform: rotate(0);
      }

  }
  
  #home1 .head_info {
    position: relative;
    width: 72%;
    margin: auto;
    font-size: 18px;
    color: #eaeadf;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-top: 21px;
    letter-spacing: 0;
    line-height: 30px;
    border-radius: 15px;
    box-sizing: initial;
    white-space: nowrap;
  }
  
  #home1 .head_info p {
    margin: 3px;
    font-family: "宋体";
    font-weight: 700;
  }
  
  #home1 .social_info {
    height: 40px;
    margin-bottom: -10px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
  }
  
  #home1 .social_info li {
    float: left;
    margin-right: 13px;
  }
  
  #home1 .social_info img {
    height: 30px;
    width: 30px;
    padding: 6px;
    cursor: pointer;
  }
  
  #home1 .social_info .flipx {
    transform: scaleX(-1);
  }
  
  @media (max-width: 860px) {
    #home1 .center_info {
      display: none;
    }
  }
  
  @keyframes arrow-twinkling {
    0% {
      opacity: 0.3;
      transform: translate(0, 0);
    }
    50% {
      opacity: 0.3;
      transform: translate(0, 5px);
    }
    100% {
      opacity: 0.3;
      transform: translate(0, 0);
    }
  }
  
  #home1 .arrow {
    position: absolute;
    bottom: -230px;
    left: 50%;
    margin-bottom: 12px;
    transform: translate(-50%, -50%);
    animation-name: arrow-twinkling;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
  }