#likeScreen{
    width: 100%;
    height: 100%;
    background-color: #303033;
    background-image: url(../arknights1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden !important; 
} 



#likeScreen #nav{
    padding:5px 0 ;
    font-size: 20px;
    line-height: 20px;
    color: white;
    font-family: Helvetica;
}

#likeScreen .navHead:first-child{
    margin-left: 10px;
}



#likeScreen .navHead #wifi{
    display: inline-block;
    margin-left: 7px;
    font-size: 18px;
}

#likeScreen .navHead .ball{
    display: inline-block;
    background-color: #ffffff;
    width: 7px;
    height: 7px;
    border-radius: 100% ;
    margin: 2px;
}

#likeScreen .navHead .icon-Wi-Fi{
    display: inline-block;
    margin-left: 8px;
    font-size: 20px;
}


#likeScreen .navTail .icon-lanya{
    display: inline-block;
    margin-right: 4px;
    font-size: 20px;
}

#likeScreen .navTail .battery{
    display: inline-block;
    width: 35px;
    height:14px;
    margin-left: 4px;
    border:2px grey solid;
    border-right-width:3px;
    transform: translateY(3px);
    background: rgb(255,255,255);
}

#likeScreen .navTail .battery::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 8px;
    transform: translate(38px,-5px);
    background: rgb(255,255,255);
}

#likeScreen #mainScreen .markBadge{
    position: fixed;
    text-align: center;
    margin-top: 28px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#likeScreen #mainScreen .markBadge:hover{
    transform: scale(1.1);
}

#likeScreen #mainScreen .markBadge .mouseDown{
    transform: scale(0.9) !important;
}



#likeScreen #mainScreen .markBadge img{
    width: 76px;
    height: 76px;
}



#likeScreen #mainScreen .el-badge__content{
    top:2px;
    right: 18px;
    font-size: 16px;
}

#likeScreen #aside{
    position: relative;
}

#likeScreen #aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0px;
    right: 0px;
    opacity: 1;
    height: 460px;
    width:115px;
    padding: 60px 0 20px 0;
    background-color: rgba(255,255,255,0.4);
}

#likeScreen .asideItem{
    text-align: center;
    cursor: pointer;
    transition:  0.2s ease-in-out;
}

#likeScreen .asideItem:hover {
   transform: scale(1.1);
}

#likeScreen .mouseDown{
    transform: scale(0.9) !important;
}


#likeScreen .asideItem img{
    flex: 1;
    width: 76px;
    height: 76px;
}

#likeScreen .intro{
    font-family:"华文细黑";
    margin:2px 0 25px 0;
    font-size: 18px;
    line-height: 18px;
    color: white;
}




